<!DOCTYPE html>
<html>
  <head>
    <title>Jefferson & Marília</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/header" %>
    <%= render partial: "layouts/navbar" %>
    <div id="page-content" class="page-content">
      <%= yield %>
      <%= render partial: "layouts/footer" %>
    </div>
    <%= render partial: "layouts/rails_data" %>
  </body>
</html>
